<!doctype html>
    <html lang="en">

        <head>


            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <link rel="stylesheet" type="text/css" href="/css/draganddrop.css">



        </head>
        <body translate="no" >
        <h1>Dashboard</h1>
        <h1>Hello <%= username %></h1>
        <a href="/users/logout">logout</a>
        <svg id="svg">

            <g id="diagram" data-drag="diagram:diagram" data-drag-type="diagram">
                <g id="node-layer">

                    <!-- logic gates -->
                    <g class="node-container">
                        <rect class="node-background" width="204" height="128" x="0" y="0" rx="6" ry="6" />


                        <g class="node-content">

                            <rect class="content-round-rect" width="200" height="82" x="2" y="44" rx="4" ry="4" />
                            <rect class="content-rect" width="200" height="77" x="2" y="44" />

                            <g class="inputs">

                                <g class="input-field" transform="translate(0, 10)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 1</text>
                                </g>

                                <g class="input-field" transform="translate(0, 100)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 2</text>
                                </g>



                            </g>

                            <g class="outputs">

                                <g class="output-field" transform="translate(0, 55)">
                                    <g class="port" data-clickable="false">
                                        <circle class="port-outer" cx="189" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="189" cy="10" r="5" />
                                        <circle class="port-scrim" cx="189" cy="10" r="7.5" data-clickable="false" />
                                    </g>
                                    <text class="port-label" x="176" y="14">Output</text>
                                </g>

                            </g>

                        </g>
                    </g>
                    <g class="node-container">
                        <rect class="node-background" width="204" height="128" x="0" y="0" rx="6" ry="6" />


                        <g class="node-content">

                            <rect class="content-round-rect" width="200" height="82" x="2" y="44" rx="4" ry="4" />
                            <rect class="content-rect" width="200" height="77" x="2" y="44" />

                            <g class="inputs">

                                <g class="input-field" transform="translate(0, 10)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 1</text>
                                </g>

                                <g class="input-field" transform="translate(0, 100)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 2</text>
                                </g>



                            </g>

                            <g class="outputs">

                                <g class="output-field" transform="translate(0, 55)">
                                    <g class="port" data-clickable="false">
                                        <circle class="port-outer" cx="189" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="189" cy="10" r="5" />
                                        <circle class="port-scrim" cx="189" cy="10" r="7.5" data-clickable="false" />
                                    </g>
                                    <text class="port-label" x="176" y="14">Output</text>
                                </g>

                            </g>

                        </g>
                    </g>
                    <g class="node-container">
                        <rect class="node-background" width="204" height="128" x="0" y="0" rx="6" ry="6" />


                        <g class="node-content">

                            <rect class="content-round-rect" width="200" height="82" x="2" y="44" rx="4" ry="4" />
                            <rect class="content-rect" width="200" height="77" x="2" y="44" />

                            <g class="inputs">

                                <g class="input-field" transform="translate(0, 10)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 1</text>
                                </g>

                                <g class="input-field" transform="translate(0, 100)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 2</text>
                                </g>



                            </g>

                            <g class="outputs">

                                <g class="output-field" transform="translate(0, 55)">
                                    <g class="port" data-clickable="false">
                                        <circle class="port-outer" cx="189" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="189" cy="10" r="5" />
                                        <circle class="port-scrim" cx="189" cy="10" r="7.5" data-clickable="false" />
                                    </g>
                                    <text class="port-label" x="176" y="14">Output</text>
                                </g>

                            </g>

                        </g>
                    </g>
                    <g class="node-container">
                        <rect class="node-background" width="204" height="128" x="0" y="0" rx="6" ry="6" />


                        <g class="node-content">

                            <rect class="content-round-rect" width="200" height="82" x="2" y="44" rx="4" ry="4" />
                            <rect class="content-rect" width="200" height="77" x="2" y="44" />

                            <g class="inputs">

                                <g class="input-field" transform="translate(0, 10)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 1</text>
                                </g>

                                <g class="input-field" transform="translate(0, 100)">
                                    <g class="port">
                                        <circle class="port-outer" cx="15" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="15" cy="10" r="5" />
                                        <circle class="port-scrim" cx="15" cy="10" r="7.5" />
                                    </g>
                                    <text class="port-label" x="28" y="14">Input 2</text>
                                </g>



                            </g>

                            <g class="outputs">

                                <g class="output-field" transform="translate(0, 55)">
                                    <g class="port" data-clickable="false">
                                        <circle class="port-outer" cx="189" cy="10" r="7.5" />
                                        <circle class="port-inner" cx="189" cy="10" r="5" />
                                        <circle class="port-scrim" cx="189" cy="10" r="7.5" data-clickable="false" />
                                    </g>
                                    <text class="port-label" x="176" y="14">Output</text>
                                </g>

                            </g>

                        </g>
                    </g>


                </g>

                <g id="connections-layer"></g>

                <g class="connector">

                    <path class="connector-path-outline" />
                    <path class="connector-path" />

                    <circle class="connector-handle input-handle" cx="0" cy="0" r="4" />
                    <circle class="connector-handle output-handle" cx="0" cy="0" r="4" />
                </g>

                <circle id="drag-proxy" cx="0" cy="0" r="1" fill="none" />
            </g>
        </svg>
        <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>


        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js'></script>
        <script src='/js/draganddrop.js'></script>



        </body>
    </html>