<!doctype html>
    <html lang="en">
    <style>
        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        .andGate {
            position: absolute;
            padding: 10px;
            cursor: move;

        }
        .orGate {
            position: absolute;
            padding: 10px;
            cursor: move;
            top: 282px;
            left: 6px;
        }
        .notGate{
            position: absolute;
            padding: 10px;
            cursor: move;
            top: 351px;
            left: 6px;
        }
        .xorGate
        {
            position: absolute;
            padding: 10px;
            cursor: move;
            top: 420px;
            left: 6px;
        }
    </style>
        <head>
            <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
            <style>
                body {
                    font-family: 'DM Sans';font-size: 20px;
                }
            </style>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
        </head>
        <body>

            <h1>Dashboard</h1>
            <h1>Hello <%= username %></h1>
            <a href="/users/logout">logout</a>
            <div class="andGate" onclick="dragNewElement('.andGate')">
                <img src="https://www.clipartmax.com/png/small/8-88193_and-gate-clip-art-logic-gate-png.png" alt="And Gate Clip Art - Logic Gate Png @clipartmax.com" width="60" height="40">
            </div>

            <div class="orGate" onclick="dragNewElement('.orGate')">
                <img src="https://www.clipartmax.com/png/small/47-478617_the-and-gate-is-similar-to-multiplication-in-the-sense-circuit-of.png" alt="The And Gate Is Similar To Multiplication In The Sense - Circuit" width="60" height="40">
            </div>

            <div class="notGate" onclick="dragNewElement('.notGate')">
                <img src="https://www.clipartmax.com/png/small/56-560565_symbol-of-not-gate.png" alt="Symbol Of Not Gate @clipartmax.com" alt = "Not gate" width = "60" height  = "40">
            </div>

            <div class="xorGate" onclick="dragNewElement('.xorGate')">
                <img src="https://www.clipartmax.com/png/small/47-479605_xor-xor-gate.png" alt="Xor - Xor Gate @clipartmax.com" width = "60" height = 40>
            </div>

            <script src="/js/draganddrop.js"></script>
            <script>//creates an element on top of the original one to stop having to click on the gate before dragging
                dragNewElement('.andGate');
                dragNewElement('.orGate');
                dragNewElement('.notGate');
                dragNewElement('.xorGate');
            </script>
        </body>
    </html>