<!DOCTYPE html>
<html>
<head>
    <%- include('header'); -%>
    <title>Circuit Board</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.css"/>
    <link rel="stylesheet" type="text/css" href="/css/draganddrop.css"/>
</head>
<body>
<section class="section">
    <div class="container">
        <%- include('nav'); -%>
        <div class="block">
            <div class="field is-pulled-right">
                <div class="control pl-6">
                    <button class="button is-link is-light" onclick="saveDiagram()">Save</button>
                </div>
            </div>

            <div class="field has-addons has-addons-right">
                <p class="control"><input class="input is-pulled-right" id="circuit_name" type="text" placeholder="Name"></p>
                <p class="control">
                    <button class="button" onclick="saveNewDiagram()">Save New</button>
                </p>
            </div>


            <div class="box field is-grouped">
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Input')"><img class="image" src="/img/input.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.And')"><img class="image" src="/img/and.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Nand')"><img class="image" src="/img/nand.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Or')"><img class="image" src="/img/or.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Nor')"><img class="image" src="/img/nor.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Xor')"><img class="image" src="/img/xor.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Xnor')"><img class="image" src="/img/xnor.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Not')"><img class="image" src="/img/not.png"/></button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" onclick="addGate('logic.Output')"><img class="image" src="/img/output.png"/>
                    </button>
                </div>
            </div>
        </div>


    </div>
</section>
<div id="paper"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.js"></script>
<script src='/js/draganddrop.js'></script>
<% if (circuit_id) { %>
<script>loadCircuit('<%= circuit_id%>') </script>
<% } %>
</body>
</html>
