<!doctype html>
<html lang="en">
<head>
    <%- include('header'); -%>
    <title>Circuit Board Login</title>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Login</h1>
        <p class="subtitle">If you don't have a login, <strong><a href="/users/register">Register Here</a></strong>!
        </p>
        <ul>
            <% if(messages.success_msg) { %>
                <li><%= messages.success_msg %></li>
            <% } %>
        </ul>
        <ul>
            <% if (messages.error) { %>
                <li> <%= messages.error %> </li>
            <% } %>
        </ul>
        <form action="/users/login" method="POST">
            <div class="field">
                <div class="control"><input class="input" name="username" type="text" placeholder="Username"
                                            required="true"></div>
            </div>
            <div class="field">
                <div class="control"><input class="input" name="password" type="password" placeholder="password"
                                            required="true"></div>
            </div>
            <div class="control">
                <div><input class="button is-link" type="submit" value="Login"></div>
            </div>
        </form>

    </div>
</section>
</body>
</html>